<head><center><h2>Add New Location</h2></center></head>
<body>
  <form action="/save_new_location">
    New Location Name:
    <input type="text" name="name" placeholder="Name of new location">
    <input type="submit">
  </form>
  <p><a href="/location_information">Return to Location Information</a></p>
</body>
<footer>
  <center><button><a href="/home">Return to Home Page</a></button></center>
</footer>
