<head><center><h2>Location Information</h2></center></head>
<body>
  <ul>
    <li><a href="/all_locations">View all locations</a></li>
    <li><a href="/shoes_at_a_location">View all shoes at a location</a></li>
    <li><a href="/change_location_name">Change a location's name</a></li>
    <li><a href="/add_location">Add a new location</a></li>
    <li><a href="/delete_location">Delete a location</a></li>
  </ul>
</body>
<footer>
  <center><button><a href="/home">Return to Home Page</a></button></center>
</footer>
