<head><center><h2>Category Information</h2></center></head>
<body>
  <ul>
    <li><a href="/all_categories">View all categories</a></li>
    <li><a href="/shoes_in_a_category">View shoes by category</a></li>
    <li><a href="/change_category_name">Change a category's name</a></li>
    <li><a href="/add_category">Add a new category</a></li>
    <li><a href="/delete_category">Delete a category</a></li>
  </ul>
</body>
<footer>
  <center><button><a href="/home">Return to Home Page</a></button></center>
</footer>
