
<html>
  <head>
    <center>
      <h2>Quantity Information<h2>
    </center>
  </head>
  <body>
    <ul>
      <li><a href=""</li>
      <li></li>
    </ul>
  </body>
  <footer><center><button><a href="/home">Return to Home Page</a></button></center></footer>
</html>

<!--erb should show information if a button is clicked?-->
<!--shows either all quantities or low quantities-->
<!--alternative is to get another page for each, but that seems redundant-->
