<head><center><h2>Update Product</h2></center></head>
<body>
    <h3>Click a shoe to update</h3>
      <ul>
        <% Shoe.all.each do |shoe| %>
          <li><a href="/update_product_form/<%= shoe.id %>"><%= shoe.name %></a></li>
        <% end %>
      </ul>
      <p>
        <a href="/current_stock">Return to Current Inventory List</a>
      </p>
</body>
<footer>
  <center>
  <p><button><a href="/home">Return to Home Page</a></button></p>
</center>
</footer>
