<html>
  <head>
    <center>
    <h1>Welcome to the Cutesie Bootsie Inventory Management System!</h1>
  </center>
  </head>
  <body>
    <h2>Choose what you'd like to do:</h2></body>
      <ul>
        <li><a href="/current_stock">View current stock</a></li>
        <li><a href="/quantity_information">View stock quantities</a></li>
        <li><a href="/view_by_cost">View products by cost</a></li>
        <li><a href="/location_information">View product location information</a></li>
        <li><a href="/category_information">View product category information</a></li>
  </body>
</html>
