<h2>View by Cost</h2>
<body>
  <h3>Select a category to view:</h3>
  <form action="/cost_category">
  <select name="cost_category">
    <option value="high">High - $100+</option>
    <option value="medium">Medium - $50-$99</option>
    <option value="low">Low - $0-$49</option>
  </select>
  <input type="submit">
  </form>
</body>
<footer>
  <center><button><a href="/home">Return to Home Page</a></button></center>
</footer>
