<head><center><h2>Add New Category</h2></center></head>
<body>
  <form action="/save_new_category">
    New Category Name:
    <input type="text" name="name" placeholder="Name of new category">
    <input type="submit">
  </form>
  <p><a href="/category_information">Return to Category Information</a></p>
</body>
<footer>
  <center><button><a href="/home">Return to Home Page</a></button></center>
</footer>
